/*! HTML5 Boilerplate v4.3.0 | MIT License | http://h5bp.com/ */

html,
button,
input,
select,
textarea {
    color: #222;
}

html {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
    
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
img,
video {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}




body {
    font: 16px/1.5 Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}


#intro,
#outro {
    height: 100vh;
    /* background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%); */
    text-align: center;
    color: #fff;
    position: relative;
}
#loading{
    z-index: 10;
    background-image: url("../assets/up.png");
    
}
#intro-main {
    width: 100%;
    height: 100vh;
    /* background: radial-gradient(circle, #74A6EE 0%, #485CB2 100%); */
    text-align: center;
    /* color: #fff; */
    position: fixed;
    overflow: hidden;
    background-position: center;
    filter:blur(0px);
    
}
.main-background1{
    overflow-x: hidden;
    width: 100vmax;
    position: fixed;
    align-self: center;
    margin-right: 0;
    margin-left: 0;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    /* background-image: url("../assets/free-vector-modern-city_093317_bluecity.jpg"); */
}
.main-background2{
    width: 90%;
    width: 100vmax;
    position: fixed;
    align-self: center;
    overflow: hidden;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: blur(0px);
    /* background-image: url("../assets/free-vector-modern-city_093317_bluecity.jpg"); */
}
.changeBackground{
    opacity: 1;
    background-size: 100% 100%;    
    background-image: url("../assets/anim.svg");
}
#intro1{
    width: 100%;
    /* height: 100%; */
    background-color: #CCC;
    background-repeat: no-repeat;
    /* background-postion: 50% 50%; */
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}
#intro .content,
#outro .content,
.section-horizontal .content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h2 {
    margin-top: 0;
    text-align: center;
}
p#title{
    font-family: 'Knewave';
    font-size: 10vmax
}
p {
    font-size: 18px;
    color: darkblue
}


#main {
    overflow: hidden;
}

.horizontal-container {
    width: 300%;
    height: 100vh;
    position: relative;
}
.section-horizontal {
    width: 33.3333%;
    height: 100%;
}
.section-1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 33.3333%;
    bottom: 0;
}
.section-2 {
    position: absolute;
    top: 0;
    left: 33.3333%;
    right: 66.6666%;
    bottom: 0;
}
.section-3 {
    position: absolute;
    top: 0;
    left: 66.6666%;
    right: 100%;
    bottom: 0;
}
.section-1,
.section-3 {background-color: transparent; color: #fff}
img#landpng{
    position:absolute;
    bottom:0;
    width:100%;
    opacity: 1;
    transform: translate(0, 62%);
    filter: blur(20px)

}
.sectionContainer{
    height: 45vmax;
    width: 80%;
    /* transform: skew(20deg); */
    /* -moz-transform: skew(20deg);
    -o-transform: skew(20deg); */
    background-color: aliceblue;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) skew(5deg);
    opacity: .8;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    padding-bottom: 5%;  
    
}
.introPara{
    color: #222;
    text-align: justify;
    transform: skew(-5deg);
    font-family: 'Dancing Script',cursive;
    font-size: 2vmax
}
.progressBarContainer{
    height: 10%;
    width: 15vmax;
    position:  initial;
    opacity: 1;
    flex-wrap: nowrap
}
.progressBarContainerWrapper{
    display: flex;
    flex-direction: row;
}


/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 480px) {
    /* =General */

    /* =Header */

    /* =Footer */
}

@media only screen and (min-width: 768px) {
    /* =General */

    /* =Header */

    /* =Footer */
}

@media only screen and (min-width: 1140px) {
    /* =General */

    /* =Header */

    /* =Footer */
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
img#pic1{
    opacity: 0
}
img#logo{
    height: 80%;
    width: 80%;
    margin-top: 20%;
}
img#anim{
    height: 100%;
    width: 100%;
}
h3 {
    margin-top: 0;
    text-align: center;
    font-family: 'Dancing Script',cursive;
    font-size: 20vmin
}